<h1>Profiles#new</h1>


<ul>
<%= form_for @profile, url: profiles_path, method: :create do |p| %>
  <li>Name:<%= p.text_field :name %></li><br/>
  <li>Lastname:<%= p.text_field :lastname %></li><br/>
  <%=p.submit 'SUBMIT' %>
<% end %>
</ul>
