<% if @note.errors.any? %>
  <div>
    <div>
        The form contains <%= pluralize(@note.errors.count, "error") %>.
    </div>

    <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
 </div>
<% end %>
