<header>
  <div >
    <nav>
      <ul >
        <li><%= link_to "Home",  notes_path %></li>
        <li><%= link_to "Profile",   new_profile_path %></li>
        <li><%= link_to "Log Out", '#'%></li>
      </ul>
    </nav>
  </div>
</header>
